<h4>Filtering</h4>
<% data.forEach(function(d) { %>
<div class="container aListing">
    <div class="row center-xs center-sm center-md start-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <p class="listingTitle"><%= d.title %></p>
            <p><a href="/browse/<%= d.id %>"><img src="<%= d.image1 %>"></a></p>
            <p class="listingBy">Posted by <%= d.posted_by %></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <p>Condition: <%= d.condition %></p>
            <p>Trading a <%= d.size %></p>
            <p>Looking for a <%= d.whatsize %></p>
            <p>Located in <%= d.state %>, <%= d.city %></p>
            <% if(user) { %>
            <a href="/browse/<%= d.id %>"><button>View Listing</button></a>
            <% } else { %>
            <a href="/browse/<%= d.id %>"><button>Login to view detailed information</button></a>
            <% } %>
        </div>
    </div>
</div>
<% }) %>