<% if(data.length != 0) { %>
    <h1>Trades currently available</h1>

    <% if(category && brand) { %>
        <h3>Current trades matching <%= category %> and <%= brand %>.</h3>
    <% } %>

    <% if(!user) { %>
        <h3><a class="inlineLinks" href="/">Login</a> to view detailed information about each item.</h3>
    <% } %>
    <div class="container filter">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>
                <form method='POST' action='/browse/filter'>
                <b>Filter by</b> <select name="category">
                    <option value="Footwear" selected>Footwear</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Accessories">Accessories</option>
                </select>

                <select name="brand">
                <% brands.map(function(brand) { %>
                    <option value="<%= brand %>"><%= brand %></option>
                <% }) %>
                </select>
                <button type="submit">Filter</button>
                </form>
                </p>
            </div>
        </div>
    </div>

    <% data.forEach(function(d) { %>
    
    <div class="container aListing">
        <div class="row center-xs center-sm center-md start-lg middle-xs middle-sm middle-md middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <p class="listingTitle"><%= d.title %> (<%= d.condition %>)</p>
                <p><a href="/browse/<%= d.id %>"><img src="<%= d.image1 %>"></a></p>
                <p class="listingBy">Posted by <%= d.posted_by %> on <%= d.date_created %></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <p>Trading a/n <b><%= d.size %></b></p>
                <p>Looking for a/n <b><%= d.whatsize %></b></p>
                <p>Willing to throw cash?
                <% if(d.cash === 0) { %>
                <span class="noMoney"><b>No</b></span>
                <% } else { %>
                <span class="money"><b>$<%= d.cash %></b></span>
                <% } %>
                </p>
                <p>Located in <b><%= d.city %>, <%= d.state %></b></p>
                <% if(user) { %>
                <a href="/browse/<%= d.id %>"><button>View Trade</button></a><br>
                    <% if(user.username === d.posted_by) { %>
                        <a href="/browse/delete/<%= d.id %>"><button>Delete Trade</button></a>
                    <% } %>
                <% } else { %>
                <a href="/browse/<%= d.id %>"><button>Login to view detailed information</button></a>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>

<% } else { %>
    <% if(!category && !brand) { %>
    <h1>No current trades <br>Be the first to <a class="inlineLinks" href="/dashboard/create">create one!</a></h1>
    <% } %>
    <% if(category && brand) { %>
        <h2>No current trades match <%= category %> and <%= brand %>.
        <br>Be the first to <a class="inlineLinks" href="/dashboard/create">create one!</a></h2>
    <% } %>

<% } %>