<% data.forEach(function(d) { %>

<p class="singleListingTitle"><%= d.title %> (<%= d.condition %>)<br>
<span class="listingBy">Posted by <%= d.posted_by %>
</p>
<p>
<img src="<%= d.image1 %>"><br>
<% if(d.image2 != "http://via.placeholder.com/400x400") { %>
<img src="<%= d.image2 %>"><br>
<% } %>

<% if(d.image3 != "http://via.placeholder.com/400x400") { %>
<img src="<%= d.image3 %>"><br>
<% } %>

<% if(d.image4 != "http://via.placeholder.com/400x400") { %>
<img src="<%= d.image4 %>"><br>
<% } %>

<% if(d.image5 != "http://via.placeholder.com/400x400") { %>
<img src="<%= d.image5 %>">
<% } %>
</p>

<p class="contactOwner"><i class="fa fa-home" aria-hidden="true"></i> <b>Located in</b> <%= d.city %>, <%= d.state %><br>
<p><b>Trading a/n</b> <%= d.size %></p>
<p><b>Looking for a/n</b> <%= d.whatsize %></p>
<p><b>Willing to ship?</b> <%= d.ship %></p>
<p><b>Willing to meetup?</b> <%= d.meetup %></p>
<p><b>Willing to throw cash?</b> 
<% if(d.cash === 0) { %>
<span class="noMoney">No</span>
<% } else { %>
<span class="money">$<%= d.cash %></span>
<% } %>
</p>
<p>
<a href="/browse/accept/<%= d.id %>"><button>Accept Listing</button></a><br>
<% if(user.username === d.posted_by) { %>
    <a href="/browse/delete/<%= d.id %>"><button>Delete Listing</button></a><br>
<% } %>
<span class="acceptThisListing">Accept this listing, to view the owners contact information.</span>
</p>

<% }) %>