<%- include('partials/header') %>
<div class="container acceptedlistings">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<div id="boxbox">
<h1>Hey <%= user.username %>,<br/>below you will find listings you accepted.</h1>
<h4>Please remember by accepting a listing you agree to follow through with the trade.</h4>
</div>

<!-- DISPLAY ACCEPTED LISTINGS -->
    <% if(data != undefined) { %>
        <%- include('partials/accepted') %>
    <% } else { %>
    <h1>You haven't, accepted any listings. Go here to <a href="/browse/">browse</a> then accept one.</h1>
    <% } %>
<!-- END DISPLAY ACCEPTED LISTINGS -->

        </div>
    </div>
</div>
<%- include('partials/footer') %>