<%- include('partials/header') %>
<div class="container acceptedlistings">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<div id="boxbox">
<h1><%= user.username %>, below you will find trades you accepted.</h1>
Please remember by accepting a trade you agree to follow through. No flaking.
<p><%- messages('message', locals) %></p>
<%- include('partials/MyTrades') %>
</div>

        </div>
    </div>
</div>
<%- include('partials/footer') %>