<%- include('partials/header') %>
<div class="container dashboard">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<div id="boxbox">
<h1>Welcome to your profile <%= user.username %>!</h1>
<h4>Below you will find a summary of your account information.</h4>

<% if(active != 0 ){ %>
<div id="dashboard-stats">
<h3>Totals</h3>
<p>Trades Posted: <strong><%= total %></strong><br>
Active Trades: <strong><%= active %></strong><br>
Trades Completed: <strong><%= completed %></strong><br>
Trades Accepted: <strong><%= accepted %></strong></p>
</div>

<div id="share">
Share your trades with friends: <a class="inlineLinks" target="_blank" href="https://maskoff.herokuapp.com/my/<%= user.username %>">https://maskoff.herokuapp.com/my/<%= user.username %></a>
</div>
<% } %>
<p><input class="username" type="text" name="username" value="<%= user.username %>" readonly> <i id="pencil_<%= user.id %>" class="fa fa-pencil" aria-hidden="true"></i></p>
<p><input class="email" type="text" name="email" value="<%= user.email %>" readonly> <i id="pencil_<%= user.id %>" class="fa fa-pencil" aria-hidden="true"></i></p>
<p><input class="state" type="text" name="state" value="<%= user.state %>" readonly> <i id="pencil_<%= user.id %>" class="fa fa-pencil" aria-hidden="true"></i></p>
<p><input class="city" type="text" name="city" value="<%= user.city %>" readonly> <i id="pencil_<%= user.id %>" class="fa fa-pencil" aria-hidden="true"></i></p>
<button class="update_account">Update Account</button> <button class="delete_account">Delete Account</button>

</div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/dashboard.js"></script>
<%- include('partials/footer') %>