<%- include('../partials/header') %>
<div class="container register">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('../partials/navbar') %>

<div id="boxbox">          
<h1>Account Registration</h1>
    <p><%- messages('message', locals) %></p>
    <ul>
        <% if(errors){ %>
            <% for(const error of errors){ %>
                <li id="errors"><%= error.msg %></li>
            <% } %>
        <% } %>
    </ul>

    <form method='POST' action='/auth/register'>
        <p><input type="text" name="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="password" name="password2" placeholder="Confirm Password"></p>
        <p><input type="email" name="email" placeholder="Email"></p>
        <p><input type="text" name="state" placeholder="State"></p>
        <p><input type="text" name="city" placeholder="City"></p>
        Already have an account? <a class="inlineLinks" href="/auth/login">Log In</a><br>
        <button type="submit">REGISTER</button> <button type="reset">RESET</button>
    </form>
</div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>